@media (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  body {
    padding-top: 72px;
  }

  .header {
    height: 72px;
  }

  .name {
    margin-left: 142px;
  }

  .name-eyob {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  }

  .icon-menu {
    display: none;
  }

  .desktop-menu-right {
    display: flex;
    margin-right: 142px;
    gap: 20px;
  }

  .desk-nav {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
  }

  .introduction {
    flex-direction: row;
    align-items: center;
    background-image: url(img/Illustration-header.svg);
    padding: 0px;
    height: 100vh;
    gap: 89px;
  }

  .social-media-links {
    order: 1;
    flex-direction: column;
    margin-left: 36px;
    height: 180px;
  }

  .link-img {
    padding: 0;
  }

  .introduction-main {
    order: 2;
    max-width: 566px;
    height: calc(100% - 59px);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    gap: 24px;
    margin-bottom: 59px;
  }

  .main-title {
    font-size: 72px;
    line-height: 82px;
    width: 80%;
    color: #F55800;
  }

  .profession {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .description {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: #F4F5F7;
  }

  /* Project section */

  .recent-div {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    margin-bottom: 114px;
  }

  .recent {
    max-width: 40%;
    color: #091E42;
    padding-left: 35px;
  }

  #mobile-line {
    display: none;
  }

  #desktop-line {
    display: inline;
    max-width: 794px;
  }

  .first {
    display: flex;
    gap: 24px;
    max-width: 1156px;
    margin-left: 141px;
    margin-right: 143px;
    max-height: 448px;
    padding: 0;
    margin-bottom: 24px;  
  }

  .first-img-container {
    width: 58%;
  }

  .first-img {
    max-height: 448px;
    object-fit: cover;
  }

  .first-project-desc {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .titleh1 {
    font-size: 40px;
    line-height: 52px;
    margin: 0;
  }

  .first-proj-stats {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
  }

  .programming {
    margin: 0;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    max-width: 1155px;
    margin: 0px 141px;
    padding: 0px 0px 130px 0px;
  }

  .card {
    margin: 0;
    max-width: 369px;
  }

  /* about section */

  .about-section {
    background: #262626;
    background-image: url(img/Frame-about.svg);
    background-repeat: no-repeat;
    background-position: right 100px;
  }

  .about-wrap {
    display: flex;
    align-items: center;
    max-width: 566px;
    margin-left: 142px;
    height: 582px;
  }
  
  .about-me { 
    background-image: none;
    padding: 0;
    height: auto;
  }

  .about-h1 {
    line-height: 82px;
    color: #F55800;
  }

  .about-intro {
    font-size: 20px;
    line-height: 32px;
  }

  .getme {
    background: #F55800;
  }

  .abt-desk-divider {
    display: block;
  }

  .abt-mobile-divider {
    display: none;
  }

  .additional-info {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 130px;
    margin: 0px 142px;
    padding-left: 0;
  }

  .lang-container,
  .frame-container,
  .skills-container {
    margin: 0;
    align-items: flex-start;
  }

  .lang-flex > img,
  .frame-flex > img,
  .skill-flex > img {
    margin-left: 0;
  }

  .lists {
    align-items: flex-start;
    margin: 0;
  }

  #contact-form {
    margin: 130px auto;
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }

  #contact-text {
     width: 35%;
     text-align: left;
  }

  form {
    width: 55%;
    /* align-items: flex-start; */
  }

  form center {
    display: flex;
    justify-content: flex-start;
  }

  .social-bottom-line {
    display: none;
  }
}