body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
  margin: 0;
  padding-top: 20px;
  height: 48px;
}

.name {
  margin-left: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.name-eyob {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin: 10px 12px;
  text-decoration: none;
}

.menu {
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.icon-menu {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.introduction {
  background-color: black;
  padding: 20px;
  background-image: url(img/Groupback.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 587px;
}

.title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 120px;
  margin-bottom: 12px;
}

.profession {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  margin-top: 0;
  margin-bottom: 12px;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 12px;
}

.social-media-links {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
}

.link1 {
  margin-left: 8px;
}
